# Terraform
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/*.tfvars
infra/terraform/*.tfplan
infra/terraform/*.tfvars.json
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/crash.log
infra/terraform/override.tf
infra/terraform/override.tf.json
infra/terraform/*_override.tf
infra/terraform/*_override.tf.json

# Ansible
infra/ansible/*.retry
infra/ansible/*.log
infra/ansible/*.vault
infra/ansible/*.cfg
infra/ansible/*.tmp
infra/ansible/*.bak
infra/ansible/*.swp
infra/ansible/.cache/
infra/ansible/__pycache__/